/********** Reset **********/ 

@import url("./_reboot.scss");
@import url("./_clearfix.scss");

/********** End **********/ 

/********** Fonts **********/ 
@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url("/Assets/Fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}
@font-face {
    font-family: "IBMPlexMono-Light";
    src: url(/Assets/Fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf);
}
/********** End **********/ 

body{
  background-size: 6px 6px !important;
  background-image: linear-gradient(-45deg, #101010 46%, #060606 49%, #060606 51%, #101010 55%);
  overflow-x: hidden;
}

/********** Custom Cursor **********/ 

// * {
//   cursor: none;
//   outline: 1px solid transparent;
// }
// .pointer {
//   position: fixed;
//   top: 50%;
//   left: -100px;
//   -webkit-transform: translate(-50%, -50%);
//           transform: translate(-50%, -50%);
//   width: 10px;
//   height: 10px;
//   pointer-events: none;
//   -webkit-box-sizing: border-box;
//       box-sizing: border-box;
//   z-index: 9999;
//   -webkit-transition-property: width, height, background;
//           transition-property: width, height, background;
//   -webkit-transition-duration: .5s;
//           transition-duration: .5s;
//   -webkit-transition-timing-function: cubic-bezier(.2, .96, .34, 1);
//           transition-timing-function: cubic-bezier(.2, .96, .34, 1);
//   border-radius: 50%;
//   background:rgba(255, 223, 15, 1);
//   overflow: hidden;
// }    
body.out .pointer {
  width: 0;
  height: 0;
}    

.pointer.href {
  width: 40px;
  height: 40px;
  background: transparent;
  -webkit-box-shadow: 0 0 30px #FFDF0F;
      box-shadow: 0 0 30px #FFDF0F;
}
.pointer.social {
  width: 40px;
  height: 40px;
  background: transparent;
  -webkit-box-shadow: 0 0 30px #000;
      box-shadow: 0 0 30px #000;
}




/********** End **********/
.code-container {
  perspective: 2000px;

}

.code {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  transition: transform 0.5s;
}

.tag {
  color: rgba(255, 223, 15, 1);
}

.indent {
  margin-left: 20px;
}

.code:hover {
  transform: rotateX(0deg);
}


/********** Nav **********/ 

#navbarToggler{
    background-color: rgba(36, 40, 48, 1);
}
.navbar-nav{display: flex; flex-direction: row; justify-content: center;
    li{margin: 0 90px 0 0; font-size: 20px;
        a{color: white;}
        a:hover{color:rgba(255, 223, 15, 1); }
    }
}
.navbar {
  background: rgba(36, 40, 48, 1); 
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.8); 
  padding: 10px 0 0;
  button { width: 60px; }
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px black ;
}

ul {
  margin-right: 10%;
}

img {
  font-size: 30px;
}
img{color: rgb(0 0 0 / 80%);}
/********** End **********/ 

/********** Hero Section **********/ 
$yellow: rgba(255, 223, 15, 1);

.hero {
    .container {
        margin-left: 13%;
    }

    h1 {
        font-family: "IBMPlexMono-Light";
        font-size: 30px;
        color: white;
        margin: 14% 0 5% 0;

        span {
            color: $yellow;
        }
    }

    p {
        font-family: "IBMPlexMono-Regular";
        color: white;
        font-size: 20px;
        width: 80%;
        margin-bottom: 5%;
        line-height: 1.5;

        i {
            color: rgba(255, 223, 15, 1);
        }
    }

    button {
        color: white;
        border: 1px solid white;
        padding: 1% 2%;
        font-family: "IBMPlexMono-Light";

        &:hover,
        &:focus {
            color: $yellow;
            text-decoration: none;
            outline: 0;
            box-shadow: 0 0 0 2px black;
        }
    }
}

.Line{
    .breaker{
        color: white;
        display: flex;
        border: 1px solid white;
        margin: 5% 195px 0 195px ;
        border-radius:6px; 
    }
}
/********** End **********/ 
/******* About ********/ 
.About{
    padding-bottom: 40%;
    h4{
      font-family: "IBMPlexMono-Bold";
        text-align: center;
        color: rgba(255, 223, 15, 1);
        font-size: 30px;
        margin-top: 6%;
    }
    h2{
        margin: 18% 0% 0% 4%;
        font-family: "IBMPlexMono-Bold";
        line-height: 1.5;
        font-size: 30px;
        span{color: rgba(255, 223, 15, 1);}
    }

}


/******* About profile pic & styles ********/
.person {
  text-align: center; // combine vendor-prefixed property with CSS3 final specification
}

.container-outer, // combine to share width property
.container-outer:after {
  border-radius: 50%;
  height: 312px;
  width: 400px;
  transform: scale(0.78);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent; // add vendor-prefixed property
}

.container-outer:after {
  height: 10px;
  position: absolute;
  top: 390px;
}

.container-outer:hover {
  transform: scale(0.74);
}

.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  top: -200px;
  transform-origin: 50%;
}

.img,
.container-outer:hover .img { // combine to share transform properties
  pointer-events: none;
  position: relative;
  transform-origin: bottom center;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(60px) scale(1.18);
}

.container-outer:hover .img {
  transform: translateY(0) scale(1.2);
}

.circle {
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); // use rgba instead of rgb
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}

.img2 {
  left: -42vh;
  top: 101px;
  width: 198%; // not sure if this could be further optimized without context
}


/******* end ********/


/******** SecondInnerAbout *********/ 
.FirstInnerAbout{
    margin: 8.01% 0 0 0;
    text-align: center;
}
.SecInnerAbout{
    margin: 10% 0 0 0;
    .ndInnerAbout{
        width: 77%;
        p{
            font-family: "IBMPlexMono-Regular";
            font-size: 20px;
            line-height: 1.5;
            color: white;
        }
    }
/******** Social icons & styles *********/ 


.wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: rgba(36, 40, 48, 1);
    border-radius: 50%;
    padding: 35px;
    margin: 50px 58px 0px -32px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(0 0 0 / 80%);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background: #0077B5;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .icon:hover{box-shadow: 0 0 5px rgba(255, 223, 15, 1);}
}
.secondLine{
  .secondBreaker{
    display: flex;
    border: 1px solid white;
    margin: -30% 450px 0 450px;
    border-radius: 6px;
  }
}
/******* end ********/

/******* Skills & cards with hover txt ********/
h4{
  font-family: "IBMPlexMono-Bold";
  text-align: center;
  color: rgba(255, 223, 15, 1);
  font-size: 30px;
  margin-top: 6%;
}
h5{
  color: white;
  text-align: center;
  font-family: "IBMPlexMono-Light";
  font-size: 20px;
  margin: 5% 0 5% 0;
  span{
    color: rgba(255, 223, 15, 1);
  }

}
.card-padd{
  margin: 0 0 3% 7%;
  padding: 0 10% 0 10%;
  
}
.secondCard-marg{
  margin: 0 0 3% 35.2%;
}

.cards .card,
.card {
  width: 100px;
  height: 100px;
  background-color: rgba(36, 40, 48, 1);
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card h6,
.card h6 {
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  text-align: center;
  background: none;
  color: white;
  transform: translateY(100%);
  transition: 0.3s;
  font-family: "IBMPlexMono-Light";
  margin-top: 78px;
}

.cards .card:hover,
.card:hover,
.cards .card:focus,
.card:focus,
.cards .card:active,
.card:active {
  box-shadow: 0 0 5px rgba(255, 223, 15, 1);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover h6,
.card:hover h6,
.cards .card:focus h6,
.card:focus h6,
.card:active h6,
.card:active h6 {
  transform: none;
}
.cards .card:hover:after,
.card:hover:after,
.cards .card:focus:after,
.card:focus:after,
.cards .card:active:after,
.card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}

.thirdLine{
  .thirdBreaker{
    display: flex;
    
    border: 1px solid rgba(255, 223, 15, 1);
    border-radius: 6px;
    margin: 0 500px 5% 500px ;
  }
}


.fourthLine{
  .fourthBreaker{
    color: white;
    display: flex;
    border: 1px solid white;
    margin: 5% 195px 0 195px ;
    border-radius:6px; 
  }
}
/******* end ********/

/******* WORK ********/
.Work{
  text-align: center;
  .innerWork{
    padding: 0 10%;
    .portfolio .filters {
      display: flex;
      justify-content: flex-end;
    }
    .portfolio .filters a {
      display: block;
      color: white;
      font-size: 20px;
      font-weight: 500;
      opacity: 0.7;
      padding: 4px 10px;
      text-decoration: none;
      font-family: "IBMPlexMono-Light";
      transition: 0.3s;
      -webkit-transition: 0.3s;
    }
    .portfolio .filters a:first-child {
      margin-left: 0;
    }
    .portfolio .filters a:last-child {
      margin-right: 0;
    }
    .portfolio .filters a:hover {
      opacity: 0.9;
    }
    .portfolio .filters a.active {
      opacity: 1;
      background: r;
      color: #fff;
    }
    .portfolio .portfolio-container .portfolio-item {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      margin: 4px -4px;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              img{
                width: 95%;
              }
              p{
                a{
                  color: #fff;
                  text-decoration: none;
                }
              }
    }
    .portfolio .portfolio-container .portfolio-item .content-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 20px;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      -webkit-transition: 0.5s;
    }
    .portfolio .portfolio-container .portfolio-item .content-holder .title {
      font-size: 22px;
      font-weight: 600;
    }
    .portfolio .portfolio-container .portfolio-item .content-holder .subtitle {
      font-weight: 500;
      opacity: 1;
      color: #fff;
    }
    .portfolio .portfolio-container .portfolio-item:hover .content-holder {
      opacity: 1;
      visibility: visible;
    }
  }

}

.fifthLine{
  .fifthBreaker{
    display: flex;
    border: 1px solid white;
    margin: 5% 450px 5% 450px;
    border-radius: 6px; 
  }
}
/******* end ********/

/******* Contact Me ********/

footer{
.container{
    margin: 5% 0 0 11%;
  }  
  .innerContact{
    width: 30%;
    margin: 0 0 0 10%;
    .innerContactInput{
      .form-floating{
        input{
          background-color: rgba(36, 40, 48, 1);
          box-shadow: 0 0 5px rgba(0,0,0,0.8);
          border: none !important;
          color: white !important;;
        }
        label{
          color: rgba(255, 223, 15, 1);
          font-family: "IBMPlexMono-Light";
          font-size: 13px;
        }
      }
      input:focus{
        box-shadow: 0 0 5px rgba(255, 223, 15, 1);
      }
    }
    button{
      color: white;
      border: 1px solid rgba(36, 40, 48, 1);
      padding: 1% 15% 1% 15%;
      font-family: "IBMPlexMono-Light";
      font-size: 15px;
      box-shadow: 0 0 5px rgba(0,0,0,0.8);
  }
  button:active{
    box-shadow: 0 0 5px rgba(255, 223, 15, 1);
  }
    

    .innerContactTextarea{
      textarea{
        background-color: rgba(36, 40, 48, 1);
        box-shadow: 0 0px 5px rgba(0,0,0,0.8);
        border: none ;
        color: white;
        height: 40vh;
      }
      textarea:focus{
        box-shadow: 0 0 5px rgba(255, 223, 15, 1);
      }
      label{
        color: rgba(255, 223, 15, 1);
        font-family: "IBMPlexMono-Light";
        font-size: 13px;
      }
    }
  }

  .secondInnerContact{
    margin: 7% 0 0 5%;
    h3{
      margin: 0 0 5% 10%;
      font-family: "IBMPlexMono-Bold";
      font-size: 40px;
      color: white;
      .textColour{
        color: rgba(255, 223, 15, 1);
      }

    } 
}
.contactParagraph{
  width: 58%;
  p{
    line-height: 1.5;
    font-family: "IBMPlexMono-Light";
    color: white;
    font-size: 20px;
    span{
      color: rgba(255, 223, 15, 1);
    }
  }
}
.socialIcons{
  .wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: rgba(36, 40, 48, 1);
    border-radius: 50%;
    padding: 35px;
    margin: 50px 58px 0px -32px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 6px rgb(0 0 0 / 80%);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .icon:hover{box-shadow: 0 1px 6px rgba(255, 223, 15, 1);}

}
.contactParagraph{
  width: 58%;
  p{
    line-height: 1.5;
    font-family: "IBMPlexMono-Light";
    color: white;
    font-size: 20px;
    span{
      color: rgba(255, 223, 15, 1);
    }
  }
}
.socialIcons{
  .wrapper {
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper .icon {
    position: relative;
    background: rgba(36, 40, 48, 1);
    border-radius: 50%;
    padding: 35px;
    margin: 50px 58px 0px -32px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 6px rgb(0 0 0 / 80%);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }
  
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background: #0077B5;
    color: #ffffff;
  }
  
  .wrapper .github:hover,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
  }
  
  .icon:hover{box-shadow: 0 1px 6px rgba(255, 223, 15, 1);}

}
.copyright{
  color: white;
  font-family: "IBMPlexMono-Regular";
  text-align: center;
  box-shadow: 0 -5px 5px rgb(0 0 0 / 80%);
  margin: 5% 0 -5% 0;
  p{
    line-height: 1.5;
    font-family: "IBMPlexMono-Light";
    span{
      color: rgba(255, 223, 15, 1);
    }

  }
  
}
}

  
  



